<h1 class="title">Quanto siete vicini alla soluzione?</h1>

<div class="timeline-wrapper">
  <ul class="timeline">
    {% for event in site.data.timeline %}
      {% if event.timeline-side == 'left' %}
        <li>
          <div class="direction-l">
            <div class="flag-wrapper">
              <span class="hexagon"></span>
              <span class="flag neumorphism-button" data-aos="zoom-in-right">
                <span>{{event.title}}</span>
              </span>
              <span class="time-wrapper" data-aos="zoom-in-right">
                <span class="time neumorphism-card medium-left-space">{{event.date}}</span>
              </span>
            </div>
            <div class="desc neumorphism-card" data-aos="zoom-in-right">
              {{event.subtitle}}

              {% if event.tags %}
                <div class="tag-wrapper">
                  {% for tag in event.tags %}
                    <span class="tag neumorphism-card">{{tag.tag}}</span>
                  {% endfor %}
                </div>
              {% endif %}
            </div>

            <br>
            <div class="guess-who-progress">
              <div class="guess-who-bar" style="width: {{event.progress}};">
                <div class="guess-who-label-left">{{event.progress}}</div>
              </div>
            </div>

          </div>
        </li>
      {% endif %}

      {% if event.timeline-side == 'right' %}
        <li>
          <div class="direction-r">
            <div class="flag-wrapper">
              <span class="hexagon"></span>
              <span class="flag neumorphism-button" data-aos="zoom-in-left">
                <span>{{event.title}}</span>
              </span>
              <span class="time-wrapper" data-aos="zoom-in-left">
                <span class="time neumorphism-card medium-right-space">{{event.date}}</span>
              </span>
            </div>
            <div class="desc neumorphism-card" data-aos="zoom-in-left">
              {{event.subtitle}}

              {% if event.tags %}
                <div class="tag-wrapper">
                  {% for tag in event.tags %}
                    <span class="tag neumorphism-card">{{tag.tag}}</span>
                  {% endfor %}
                </div>
              {% endif %}
            </div>

            <br>
            <div class="guess-who-progress">
              <div class="guess-who-bar" style="width: {{event.progress}};">
                <div class="guess-who-label-right">{{event.progress}}</div>
              </div>
            </div>

          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <br>
  <br>
  <p class="description centered" data-aos="fade-down">
    24 persone devono ancora raggiungere questa stanza: altri indizi stanno per arrivare!
  </p>
</div>
