{% if site.show_projects %}
<!--  <h1 class="title"><span>{{site.projects_title}}</span></h1>-->

  <p class="description" data-aos="fade-down" id="welcome-message">
    Ciao,
  </p>

  <p class="description" data-aos="fade-down">
    Sappiamo che sei proprio tu, ma un numero spropositato di persone sta provando ad introfularsi in questo gioco e vorremmo essere sicuri di non essere multati.
    Ti dispiacerebbe provarci la tua identità?
  </p>

  <div class="lock">
    <form action="javascript:void(0);">
    <input type="password" name="pwd" class="input-login-box" id="input-login-user">
    <br>
    <button type="button" id="login-button-user" class="input-login-button">Gioca!</button>
    </form>
  </div>

<!--<div class="projects-wrapper">-->
<!--    {% for project in site.data.projects %}-->
<!--      <div class="project neumorphism-card" data-aos="zoom-in-down">-->
<!--        <div class="name-link-wrapper">-->
<!--          <h3>{{project.name}}</h3>-->
<!--        </div>-->
<!--        <p class="project-desc">{{project.descr}}</p>-->
<!--        {% if project.demo %}-->
<!--          <a class="highlight-link" href="{{project.demo}}" target="_blank" rel="noreferrer">-->
<!--            Demo-->
<!--          </a>-->
<!--        {% endif %}-->
<!--        {% if project.tags %}-->
<!--          <div class="tag-wrapper">-->
<!--            {% for tag in project.tags %}-->
<!--              <span class="tag neumorphism-card">{{tag.tag}}</span>-->
<!--            {% endfor %}-->
<!--          </div>-->
<!--        {% endif %}-->
<!--      </div>-->
<!--    {% endfor %}-->
<!--  </div>-->
{% endif %}
