<!--<h1 class="title">{{site.about_me_title}}</h1>-->
<p class="description" data-aos="fade-down">
    Lo sappiamo, c’è un pensiero che non ti lascia in pace. Notte e giorno, giorno e notte, solo un chiodo fisso per cui non riesci a trovare pace: come sopravviverai a questo Natale senza il tombolone con gli amici, gli amici degli amici, i nemici dei parenti e i parenti degli amici?
</p>

<p class="description" data-aos="fade-down">
    Ebbene, siamo qui per salvarti. Stiamo per proporti un gioco che ti farà sentire come quando, a Santo Stefano, nel salotto di tua zia, stringi la mano a quel cugino di Treviso che nemmeno pensavi di avere.
</p>

<p class="description" data-aos="fade-down">
    Sei pronto? Hai lavato le mani? Cominciamo!
</p>

