<h1 class="title">Indovina chi</h1>

<br>
<br>

<div id="skills">
<!--  <input type="radio" id="all" name="filter" />-->
<!--  <label class="filter-button neumorphism-button" for="all">All</label>-->
<!--  <input type="radio" id="language" name="filter" checked />-->
<!--  <label class="filter-button neumorphism-button" for="language">Languages</label>-->
<!--  <input type="radio" id="framework" name="filter" />-->
<!--  <label class="filter-button neumorphism-button" for="framework">Frameworks</label>-->
<!--  <input type="radio" id="tool" name="filter" />-->
<!--  <label class="filter-button neumorphism-button" for="tool">Tools</label>-->


  {% for vip in site.data.vip %}
    <div skill-type="language" data-aos="zoom-in">
      <img src="assets/img/GuessWho/{{vip.picture}}" width="150px" height="200px">
      <figcaption class="small-caption">{{vip.name}}</figcaption>
    </div>
  {% endfor %}

<!--  {% for framework in site.data.skills-frameworks %}-->
<!--    <div skill-type="framework" skill-weight="{{framework.weight}}" data-aos="zoom-in">-->
<!--      {{framework.name}}-->
<!--    </div>-->
<!--  {% endfor %}-->
<!--  {% for tool in site.data.skills-tools %}-->
<!--    <div skill-type="tool" skill-weight="{{tool.weight}}" data-aos="zoom-in">-->
<!--      {{tool.name}}-->
<!--    </div>-->
<!--  {% endfor %}-->
</div>
