<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicon/apple-touch-icon.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon/favicon-32x32.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon/favicon-16x16.png" | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ "/assets/favicon/site.webmanifest" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "/assets/css/main.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/vendors.min.css" | prepend: site.baseurl }}">

  <script src="{{ "/assets/js/vendors.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/app.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/shared.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/verses.min.js" | prepend: site.baseurl }}"></script>
</head>

<body>
  <div id="preloader">
    <div class="load">
      <hr />
      <hr />
      <hr />
      <hr />
    </div>
  </div>
  {% include landing-page-game.html %}
  <div class="layout">
    <section class="card neumorphism-card-big">
      <p class="description" data-aos="fade-down">
        Congratulazioni! Se hai Shazam sul cellulare, è il momento di disinstallarlo. 😉
      </p>

      <p class="description" data-aos="fade-down">
        Abbiamo un premio per te.
        Per ottenerlo, ti occorre soltanto un altro piccolo sforzo...
      </p>

      <p class="description" data-aos="fade-down">
        Ti manca il karaoke natalizio? Registra un breve video - cellulare in orizzontale, mi raccomando! - in cui canti i <mark>&nbsp;versi evidenziati sotto&nbsp;</mark> di
        <a href="https://www.youtube.com/watch?v=FuAHR4lkjCo" target="_blank">"Last Christmas" (Wham!)</a>
        ed inviacelo via WhatsApp o Telegram (una volta ricevuto il video ti forniremo istruzioni su come continuare):
      </p>

      <i>
      <p class="description centered" data-aos="fade-down" id="song-paragraph">

      </p>
      </i>
    </section>
  </div>
  {% include footer.html %}
</body>
</html>
