<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicon/apple-touch-icon.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon/favicon-32x32.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon/favicon-16x16.png" | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ "/assets/favicon/site.webmanifest" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "/assets/css/main.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/vendors.min.css" | prepend: site.baseurl }}">

  <script src="{{ "/assets/js/vendors.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/app.min.js" | prepend: site.baseurl }}"></script>
</head>

<body>
  <div id="preloader">
    <div class="load">
      <hr />
      <hr />
      <hr />
      <hr />
    </div>
  </div>
  {% include landing-page.html %}
  <div class="layout">
      <section class="card neumorphism-card-big">
        <p class="description" data-aos="fade-down">
          Lo sappiamo, c’è un pensiero che non ti lascia in pace. Notte e giorno, giorno e notte, solo un chiodo fisso per cui non riesci a trovare pace: come sopravviverai a questo Natale senza il tombolone con gli amici, gli amici degli amici, i nemici dei parenti e i parenti degli amici?
        </p>

        <p class="description" data-aos="fade-down">
          Ebbene, siamo qui per salvarti. Stiamo per proporti un gioco che ti farà sentire come quando, a Santo Stefano, nel salotto di tua zia, stringi la mano a quel cugino di Treviso che nemmeno pensavi di avere.
        </p>

        <p class="description" data-aos="fade-down">
          Sei pronto? Hai lavato le mani? Cominciamo!
        </p>
      </section>

    <section class="card neumorphism-card-big">
      <p class="description" data-aos="fade-down">
        Ai sensi dell’ultimo D.P.C.M., solo un numero limitato di persone può avere accesso alla stanza-gioco.
      </p>
      <p class="description" data-aos="fade-down">
        Riuscirai a trovare la tua parola d’ordine e ad intrufolarti prima che il limite sia raggiunto?
      </p>

      <div class="lock">
        <form action="javascript:void(0);">
          <input type="password" name="pwd" class="input-login-box" id="input-login-game">
          <br>
          <button type="button" id="login-button-game" class="input-login-button">Gioca!</button>
        </form>
      </div>
    </section>

    <section class="card neumorphism-card-big">
      <p class="description centered" data-aos="fade-down">
        Pensi di sapere da dove cominciare?
      </p>
      <br>
      <br>

      <div id="skills">
        {% for friend in site.data.skills-friends %}
        <div skill-type="language" data-aos="zoom-in">
          <a href="login.html?user={{friend.name}}">
            <img src="assets/img/avatar/{{friend.avatar}}" width="200px" height="200px">
            <figcaption class="medium-caption">{{friend.name}}</figcaption>
          </a>
        </div>
        {% endfor %}
      </div>
    </section>
  </div>
  {% include footer.html %}
</body>
</html>
