<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicon/apple-touch-icon.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon/favicon-32x32.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon/favicon-16x16.png" | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ "/assets/favicon/site.webmanifest" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "/assets/css/main.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/vendors.min.css" | prepend: site.baseurl }}">

  <script src="{{ "/assets/js/vendors.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/app.min.js" | prepend: site.baseurl }}"></script>
</head>

<body>
  <div id="preloader">
    <div class="load">
      <hr />
      <hr />
      <hr />
      <hr />
    </div>
  </div>
  {% include landing-page-game.html %}
  <div class="layout">
      <section class="card neumorphism-card-big">
        <p class="description" data-aos="fade-down">
          Sono rimasti solo 2 personaggi famosi. Chi custodisce il segreto di questo strano Natale?
          <br>
          Clicca su quello giusto per scoprirlo!
        </p>
      </section>

      <section class="card neumorphism-card-big">
        <h1 class="title">Indovina chi</h1>
        <br>
        <br>
        <div id="skills">
          {% for vip in site.data.vip %}
          <div skill-type="language" data-aos="zoom-in" class="{{vip.class}}">
            <a href="{{vip.link}}"><img src="assets/img/GuessWho/{{vip.picture}}" width="150px" height="200px"></a>
            <figcaption class="small-caption">{{vip.name}}</figcaption>
          </div>
          {% endfor %}
        </div>
      </section>


<!--    <section class="card neumorphism-card-big">-->
<!--      <h1 class="title">Regolamento</h1>-->
<!--      <p class="description" data-aos="fade-down">-->
<!--        Ognuno di voi può porre una domanda per contribuire alla risoluzione del gioco.-->
<!--        <br>-->
<!--        Qui sotto, puoi vedere le domande fatte dai giocatori che hanno già collaborato alla caccia: di ogni domanda, non puoi vedere la risposta, ma solo quanto vi ha avvicinato alla soluzione.-->
<!--        In altre parole, la vostra probabilità di indovinare il personaggio alla fine del gioco (100% significa che indovinerete sicuramente).-->
<!--      <br>-->
<!--        Inviaci la tua domanda (via WhatsApp o Telegram): guarda cosa hanno chiesto gli altri e rifletti a fondo, ogni contributo può essere fondamentale!-->
<!--      </p>-->
<!--    </section>-->

      <section class="card neumorphism-card-big">
        {% include section-timeline.html %}
      </section>
  </div>
  {% include footer.html %}
</body>
</html>
