<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicon/apple-touch-icon.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon/favicon-32x32.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon/favicon-16x16.png" | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ "/assets/favicon/site.webmanifest" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "/assets/css/main.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/vendors.min.css" | prepend: site.baseurl }}">

  <script src="{{ "/assets/js/vendors.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/app.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/shared.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/login.min.js" | prepend: site.baseurl }}"></script>
</head>

<body>
  <div id="preloader">
    <div class="load">
      <hr />
      <hr />
      <hr />
      <hr />
    </div>
  </div>
  {% include landing-page-game.html %}
  <div class="layout">
    <section class="card neumorphism-card-big">
      <p class="description" data-aos="fade-down" id="welcome-message">
        Ciao,
      </p>

      <p class="description" data-aos="fade-down">
        Sappiamo che sei proprio tu, ma un numero spropositato di persone sta provando ad introfularsi in questo gioco e vorremmo essere sicuri di non essere multati.
        Ti dispiacerebbe provarci la tua identità?
      </p>

      <div class="lock">
        <form action="javascript:void(0);">
          <input type="password" name="pwd" class="input-login-box" id="input-login-user">
          <br>
          <button type="button" id="login-button-user" class="input-login-button">Gioca!</button>
        </form>
      </div>
    </section>
  </div>
  {% include footer.html %}
</body>
</html>
