<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicon/apple-touch-icon.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon/favicon-32x32.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon/favicon-16x16.png" | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ "/assets/favicon/site.webmanifest" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "/assets/css/main.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/vendors.min.css" | prepend: site.baseurl }}">

  <script src="{{ "/assets/js/vendors.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/app.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/shared.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/song.min.js" | prepend: site.baseurl }}"></script>
</head>

<body>
  <div id="preloader">
    <div class="load">
      <hr />
      <hr />
      <hr />
      <hr />
    </div>
  </div>
  {% include landing-page-game.html %}
  <div class="layout">
    <section class="card neumorphism-card-big">
      <p class="description" data-aos="fade-down" id="welcome-message">
        Ciao,
      </p>

      <p class="description" data-aos="fade-down">
        Riesci ad indovinare quali due canzoni compongono questo remix che abbiamo preparato per te?
      </p>

      <div class="centered">

        <div id="audio-div">
        </div>

        <br>
        <br>

        <form action="javascript:void(0);">
          Primo titolo:
          <br>
          <input name="song1" class="input-song1-box" id="input-song1">
          <br><br>
          Secondo titolo:
          <br>
          <input name="song2" class="input-song2-box" id="input-song2">
          <br>
          <br>
          <button type="button" id="songs-button-user" class="input-songs-button">Ci credo!</button>
        </form>
      </div>

    </section>
  </div>
  {% include footer.html %}
</body>
</html>
